<div class="container row-content" ng-controller="DetailsController">
    <div class="row" ng-show="errorMessage === ''">
        <div class="col-xs-12 col-sm-1 col-sm-offset-2">
            <img class="img-thumbnail cPointer" ng-repeat="image in selectedDesign.images"
                src="data:{{image.mimeType}};base64,{{image.data}}" alt="{{selectedDesign.name + '_' + $index}}" ng-click="selectImage(image)"/>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img style="width:100%" src="data:{{selectedImage.mimeType}};base64,{{selectedImage.data}}" alt="{{selectedDesign.name + '_selected'}}"/>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h1>{{selectedDesign.name}}</h1>
            <h4><small>{{selectedDesign._id}}</small></h4>
            <h2>Description</h2>
            <p>
                {{selectedDesign.description}}
            </p>
            <span class="badge">{{selectedDesign.price | currency}}</span>
            <div style="padding:20px 0">
                <a style="margin:0 auto;text-align:center" class="btn btn-success btn-sm" ui-sref="app.order">Order</a>
            </div>
        </div>
    </div>
    <div class="row" ng-show="errorMessage === ''">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <!-- Comments -->
            <div style="margin:0 auto" class="loader" ng-show="!commentsLoaded"></div>
            <section ng-show="commentsLoaded">
                <section ng-show="commentsErrorMessage === ''">
                    <h1>Comments <small>Sort by: <input ng-model="order"></small></h1>
                    <blockquote ng-repeat="comment in designComments | orderBy:order">
                        <div style="overflow:auto">
                            <fieldset class="ratingFixed">
                                <input type="radio" id="rating{{$index}}5" name="rating{{$index}}" ng-checked="{{comment.rating === 5}}" value="5" disabled />
                                <label for="rating{{$index}}5"></label>
                                <input type="radio" id="rating{{$index}}4" name="rating{{$index}}" ng-checked="{{comment.rating === 4}}" value="4" disabled />
                                <label for="rating{{$index}}4"></label>
                                <input type="radio" id="rating{{$index}}3" name="rating{{$index}}" ng-checked="{{comment.rating === 3}}" value="3" disabled />
                                <label for="rating{{$index}}3"></label>
                                <input type="radio" id="rating{{$index}}2" name="rating{{$index}}" ng-checked="{{comment.rating === 2}}" value="2" disabled />
                                <label for="rating{{$index}}2"></label>
                                <input type="radio" id="rating{{$index}}1" name="rating{{$index}}" ng-checked="{{comment.rating === 1}}" value="1" disabled />
                                <label for="rating{{$index}}1"></label>
                            </fieldset>
                        </div>
                        <p>{{comment.comment}}</p>
                        <footer>{{comment.author}} {{comment.createdAt | date}}</footer>
                    </blockquote>
                    <div ng-show="userLoggedIn" ng-controller="CommentController">
                        <blockquote ng-show="!commentForm.mycomment.$pristine && commentForm.$valid">
                            <div style="overflow:auto">
                                <fieldset class="ratingFixed">
                                    <input type="radio" name="ratingNew" id="ratingNew5" value="5" disabled />
                                    <label for="ratingNew5"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew4" value="4" disabled />
                                    <label for="ratingNew4"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew3" value="3" disabled />
                                    <label for="ratingNew3"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew2" value="2" disabled />
                                    <label for="ratingNew2"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew1" value="1" disabled checked />
                                    <label for="ratingNew1"></label>
                                </fieldset>
                            </div>
                            <p>{{mycomment.comment}}</p>
                            <footer>{{mycomment.author}} {{mycomment.date | date}}</footer>
                        </blockquote>
                        <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                            <div class="form-group">
                                <label for="rating" class="col-sm-2 control-label">Rating</label>
                                <div class="col-sm-10">
                                    <div style="overflow:auto">
                                        <fieldset class="rating">
                                            <input type="radio" id="star5" name="rating" ng-click="changeRating(5)" value="5" /><label for="star5"></label>
                                            <input type="radio" id="star4" name="rating" ng-click="changeRating(4)" value="4" /><label for="star4"></label>
                                            <input type="radio" id="star3" name="rating" ng-click="changeRating(3)" value="3" /><label for="star3"></label>
                                            <input type="radio" id="star2" name="rating" ng-click="changeRating(2)" value="2" /><label for="star2"></label>
                                            <input type="radio" id="star1" name="rating" ng-click="changeRating(1)" value="1" checked /><label for="star1"></label>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                                <label for="comment" class="col-sm-2 control-label">Your Comment</label>
                                <div class="col-sm-10">
                                    <textarea name="comment" class="form-control" ng-model="mycomment.comment" rows="12" required></textarea>
                                    <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">
                                        Your Comment is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success" ng-disabled="commentForm.$invalid || showLoading">Submit Comment</button>
                                    <div style="margin:0 auto"  class="loader" ng-show="showLoading"></div>
                                    <span ng-show="showSuccessMessage" class="help-block">Comment successfully submitted.</span>
                                    <span style="color:rgb(169, 68, 66)" ng-show="submitError !== ''" class="help-block">{{submitError}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <h1 style="text-align:center" ng-show="commentsErrorMessage !== ''">{{commentsErrorMessage}}</h1>
            </section>
        </div>
    </div>
    <h1 style="text-align:center" ng-show="errorMessage !== ''">{{errorMessage}}</h1>
</div>