<div ng-controller="LoginController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand" ui-sref="app"><img src="images/logo.png" alt="Our logo" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="app">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.aboutus">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About Us
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" data-target="#loginModal" href="#!/" ng-show="currentUser === ''">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                        <a href="#!/" ng-show="currentUser !== ''" ng-click="logout()" style="text-align:right">
                            {{currentUser}}<br/>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" name="loginForm" ng-submit="login()">
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$error.required && !loginForm.email.$pristine }">
                            <label class="sr-only" for="email">Email address</label>
                            <input type="email" class="form-control input-sm" name="email" placeholder="Email" ng-model="email" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$error.required && !loginForm.password.$pristine }">
                            <label class="sr-only" for="password">Password</label>
                            <input type="password" class="form-control input-sm" name="password" placeholder="Password" ng-model="password" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm" ng-disabled="loginForm.$invalid">Sign in</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                        <br/>
                        <span style="color:rgb(169, 68, 66)" ng-show="loginErrorMessage !== ''">{{loginErrorMessage}}</span>
                    </form>
                    <hr>
                    <form class="form-horizontal row" name="registerForm" ng-submit="register()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.uname.$error.required && !registerForm.uname.$pristine }">
                            <label for="uname" class="col-xs-12 col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="uname" placeholder="Enter your Name" ng-model="register.uname" required>
                                <span ng-show="registerForm.uname.$error.required && !registerForm.uname.$pristine" class="help-block">
                                    Your Name is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-xs-12 col-sm-3 control-label">Sex</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="Male" ng-model="register.sex" checked> Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="Female" ng-model="register.sex"> Female
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$error.required && !registerForm.email.$pristine }">
                            <label for="email" class="col-xs-12 col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" placeholder="Enter your Email" ng-model="register.email" required>
                                <span ng-show="registerForm.email.$error.required && !registerForm.email.$pristine" class="help-block">
                                    Your Email is required.
                                </span>
                                <span ng-show="invalidEmail" class="help-block">Username already in use.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cellphone" class="col-xs-12 col-sm-3 control-label">Cellphone</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" name="cellphone" placeholder="Enter your Cellphone" ng-model="register.cellphone">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$error.required && !registerForm.password.$pristine }">
                            <label for="password" class="col-xs-12 col-sm-3 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password" placeholder="Enter your Password" ng-model="register.password" required>
                                <span ng-show="registerForm.password.$error.required && !registerForm.password.$pristine" class="help-block">
                                    Your Password is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-1">
                                <button type="submit" class="btn btn-success" ng-disabled="registerForm.$invalid">Register user</button>
                                <span ng-show="registerSuccess" class="help-block">User successfully registered</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <header class="jumbotron">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                    <img src="images/logo.png"  alt="Our logo" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div id="newsCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#newsCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#newsCarousel" data-slide-to="1"></li>
                            <li data-target="#newsCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="images/carousel-1.jpg" alt="News 1"/>
                            </div>
                            <div class="item">
                                <img src="images/carousel-2.jpg" alt="News 2"/>
                            </div>
                            <div class="item">
                                <img src="images/carousel-3.jpg" alt="News 3"/>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#newsCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#newsCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>