<div class="container row-content" ng-controller="ContactController">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
           <h3>How can we help you?</h3>
           <hr>
        </div>
    </div>
    <div class="row">
       <div class="col-xs-12 col-sm-8 col-sm-offset-2">
           <form class="form-horizontal row" name="contactForm" ng-submit="sendMessage()"  novalidate>
               <div class="form-group" ng-class="{ 'has-error' : contactForm.uname.$error.required && !contactForm.uname.$pristine }">
                   <label for="uname" class="col-xs-12 col-sm-3 control-label">Name</label>
                   <div class="col-sm-8">
                       <input type="text" class="form-control" name="uname" placeholder="Enter your Name" ng-model="name" required>
                       <span ng-show="contactForm.uname.$error.required && !contactForm.uname.$pristine" class="help-block">
                           Your Name is required.
                       </span>
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$error.required && !contactForm.email.$pristine }">
                   <label for="email" class="col-xs-12 col-sm-3 control-label">Email</label>
                   <div class="col-sm-8">
                       <input type="email" class="form-control" name="email" placeholder="Enter your Email" ng-model="email" required>
                       <span ng-show="contactForm.email.$error.required && !contactForm.email.$pristine" class="help-block">
                           Your Email is required.
                       </span>
                   </div>
               </div>
               <div class="form-group">
                   <label for="cellphone" class="col-xs-12 col-sm-3 control-label">Cellphone</label>
                   <div class="col-sm-8">
                       <input type="tel" class="form-control" name="cellphone" placeholder="Enter your Cellphone" ng-model="cellphone">
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$error.required && !contactForm.message.$pristine }">
                   <label for="message" class="col-xs-12 col-sm-3 control-label">Message</label>
                   <div class="col-sm-8">
                       <textarea class="form-control" name="message" form="contactForm" ng-model="message" required></textarea>
                       <span ng-show="contactForm.message.$error.required && !contactForm.message.$pristine" class="help-block">
                           Your Message is required.
                       </span>
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-xs-10 col-xs-offset-1">
                       <button type="submit" class="btn btn-success" ng-disabled="contactForm.$invalid || showLoading">Send</button>
                       <div style="margin:0 auto"  class="loader" ng-show="showLoading"></div>
                       <span ng-show="showSuccessMessage" class="help-block">Message successfully sent</span>
                       <span style="color:rgb(169, 68, 66)" ng-show="contactError" class="help-block">An error ocurred sending your message.</span>
                   </div>
               </div>
           </form>
       </div>
    </div>
</div>