<footer class="row-footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                <a ui-sref="app.contactus"><i class="fa fa-envelope-o"></i> Contact Us</a>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2017 Tailors Online</p>
            </div>
        </div>
    </div>
</footer>