<div class="container" ng-controller="HomeController">
    <div class="row row-content" ng-show="!loaded">
         <div style="margin:0 auto" class="loader" ng-show="errorMessage === ''"></div>
        {{errorMessage}}
    </div>
    <div class="row row-content"  ng-show="loaded">
        <div class="col-xs-12 col-sm-2 col-sm-offset-1">
            <h3>Filter by Category:</h3>
            <ul style="list-style:none;padding:0;">
                <li ng-repeat="category in secondaryCategories">
                    <label class="radio-inline">
                        <input type="radio" name="catFilter" value="{{category._id}}" ng-checked="$index === 0" ng-click="changeCategoryFilter(category._id)"> {{category.name}}
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 ">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="$index === 0 ? 'active' : ''" ng-repeat="category in mainCategories">
                    <a href="#{{category._id}}" role="tab" data-toggle="tab">{{category.name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" ng-class="$index === 0 ? 'row tab-pane fade in active' : 'row tab-pane fade'" ng-repeat="category in mainCategories" id="{{category._id}}">
                    <div class="col-xs-12 col-sm-3" ng-repeat="design in category.designs | hasCategory: categoryFilter">
                        <div class="thumbnail">
                            <a class="cPointer" ng-click="goToDetails(design)">
                                <img src="data:{{design.images[0].mimeType}};base64,{{design.images[0].data}}" alt="{{design.name}}">
                                <div class="caption">
                                    <h2>
                                        {{design.name}}
                                        <span class="badge">{{design.price | currency}}</span>
                                    </h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>