<div class="container" ng-controller="OrderController">
    <div class="row row-content">
        <div class="col-xs-12">
            <form class="form-horizontal row" name="orderForm" ng-submit="makeOrder()" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <h1>Order</h1>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                        <h2>Product</h2>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 control-label">Name:</label>
                            <div class="col-sm-8">
                                <label class="control-label">{{selectedDesign.name}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 control-label">Code:</label>
                            <div class="col-sm-8">
                                <label class="control-label">{{selectedDesign._id}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <h2>Contact information</h2>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.name.$error.required && !orderForm.name.$pristine }">
                            <label for="name" class="col-xs-12 col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" placeholder="Enter your Name" ng-model="order.name" required>
                                <span ng-show="orderForm.name.$error.required && !orderForm.name.$pristine" class="help-block">
                                    Your Name is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.email.$error.required && !orderForm.email.$pristine }">
                            <label for="email" class="col-xs-12 col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="email" placeholder="Enter your Email" ng-model="order.email" required>
                                <span ng-show="orderForm.email.$error.required && !orderForm.email.$pristine" class="help-block">
                                    Your Email is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cellphone" class="col-xs-12 col-sm-3 control-label">Cellphone</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="cellphone" placeholder="Enter your Cellphone" ng-model="order.cellphone">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 control-label">Size</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="size" ng-model="order.size" ng-options="size for size in sizes"></select>
                            </div>
                        </div>
                        <p ng-show="order.size === 'Other'">One of our tailors will contact you to ask for your measurements.</p>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 control-label">Fabric</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="fabric" ng-model="fabric" ng-required="true" ng-options="fabric.name for fabric in fabrics track by fabric._id"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="observations" class="col-xs-12 col-sm-3 control-label">Observations</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="observations" form="orderForm" ng-model="order.observations"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-10 col-xs-offset-1">
                            <button type="submit" class="btn btn-success" ng-disabled="orderForm.$invalid || !fabricsLoaded">Send</button>
                            <span ng-show="showSuccessMessage" class="help-block">Order successfully created.</span>
                            <span style="color:rgb(169, 68, 66)" ng-show="orderError" class="help-block">An error ocurred creating your order.</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>