<ion-view title="Contact">
    <ion-content>
        <h3>How can we help you?</h3>
        <form name="contactForm" ng-submit="sendMessage()" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" name="uname" placeholder="Enter your Name" ng-model="contactData.name" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" placeholder="Enter your Email" ng-model="contactData.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Cellphone</span>
                    <input type="email" name="cellphone" placeholder="Enter your Cellphone" ng-model="contactData.cellphone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Message</span>
                    <textarea name="message" placeholder="Enter your Message" ng-model="contactData.message"></textarea>
                </label>
                <label class="item">
                    <div style="margin:0 auto" class="loader" ng-show="showLoading"></div>
                    <span ng-show="showSuccessMessage">Message successfully sent</span>
                    <span class="error-span" ng-show="contactError">An error ocurred sending your message.</span>
                    <button class="button button-block button-balanced" ng-disabled="contactForm.$invalid || showLoading" type="submit">Send</button>
                </label>
            </div>
       </form>
    </ion-content>
</ion-view>