<ion-view view-title="Design Details">
    <ion-content>
        <div class="card" ng-show="errorMessage === ''">
            <div class="item item-body item-text-wrap">
                <img class="full-image" src="data:{{selectedImage.mimeType}};base64,{{selectedImage.data}}" alt="{{selectedDesign.name + '_selected'}}"/>
            </div>
            <div class="item item-body item-text-wrap">
                <img class="img-thumbnail" ng-repeat="image in selectedDesign.images"
                src="data:{{image.mimeType}};base64,{{image.data}}" alt="{{selectedDesign.name + '_' + $index}}" ng-click="selectImage(image)"/>
            </div>
            <div class="item item-body item-text-wrap">
                <h1>{{selectedDesign.name}}</h1>
                <h4><small>{{selectedDesign._id}}</small></h4>
                <h2>Description</h2>
                <p>
                    {{selectedDesign.description}}
                </p>
                <span class="badge">{{selectedDesign.price | currency}}</span>
                <a style="margin:0 auto;text-align:center" class="button button-block button-balanced" ui-sref="app.order">Order</a>
            </div>
        </div>
        <div ng-show="errorMessage === ''">
            <div style="margin:0 auto" class="loader" ng-show="!commentsLoaded"></div>
            <div ng-show="commentsLoaded">
                <div ng-show="commentsErrorMessage === ''">
                    <div class="list" ng-show="userLoggedIn" ng-controller="CommentController">
                        <blockquote ng-show="!commentForm.mycomment.$pristine && commentForm.$valid">
                            <div style="overflow:auto">
                                <fieldset class="ratingFixed">
                                    <input type="radio" name="ratingNew" id="ratingNew5" value="5" disabled />
                                    <label for="ratingNew5"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew4" value="4" disabled />
                                    <label for="ratingNew4"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew3" value="3" disabled />
                                    <label for="ratingNew3"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew2" value="2" disabled />
                                    <label for="ratingNew2"></label>
                                    <input type="radio" name="ratingNew" id="ratingNew1" value="1" disabled checked />
                                    <label for="ratingNew1"></label>
                                </fieldset>
                            </div>
                            <p>{{mycomment.comment}}</p>
                            <footer>{{mycomment.author}} {{mycomment.date | date}}</footer>
                        </blockquote>
                        <form name="commentForm" ng-submit="submitComment()" novalidate>
                            <label class="item item-input">
                                <span class="input-label">Rating</span>
                                <div style="overflow:auto">
                                    <fieldset class="rating">
                                        <input type="radio" id="star5" name="rating" ng-click="changeRating(5)" value="5" /><label for="star5"></label>
                                        <input type="radio" id="star4" name="rating" ng-click="changeRating(4)" value="4" /><label for="star4"></label>
                                        <input type="radio" id="star3" name="rating" ng-click="changeRating(3)" value="3" /><label for="star3"></label>
                                        <input type="radio" id="star2" name="rating" ng-click="changeRating(2)" value="2" /><label for="star2"></label>
                                        <input type="radio" id="star1" name="rating" ng-click="changeRating(1)" value="1" checked /><label for="star1"></label>
                                    </fieldset>
                                </div>
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Your Comment</span>
                                <textarea name="comment" ng-model="mycomment.comment" required=""></textarea>
                            </label>
                            <div>
                                <div>
                                    <button type="submit" class="button button-block button-balanced" ng-disabled="commentForm.$invalid || showLoading">Submit Comment</button>
                                    <div style="margin:0 auto"  class="loader" ng-show="showLoading"></div>
                                    <span ng-show="showSuccessMessage">Comment successfully submitted.</span>
                                    <span class="error-span" ng-show="submitError !== ''">{{submitError}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="list">
                        <div class=" item item-divider">
                            Comments, Sort by {{sortedBy}}
                        </div>
                        <label class="item" ng-show="!showOrder" ng-click="toggleOrder()"">
                            Show orders
                        </label>
                        <label class="item item-radio" ng-show="showOrder">
                            <ion-radio name="commentFilter" ng-click="toggleOrder('None')" ng-model="order" value="">None</ion-radio>
                            <ion-radio name="commentFilter" ng-click="toggleOrder('Rating descending')" ng-model="order" value="-rating"><i class="ion-chevron-down"></i> Rating</ion-radio>
                            <ion-radio name="commentFilter" ng-click="toggleOrder('Rating ascending')" ng-model="order" value="rating"><i class="ion-chevron-up"></i> Rating</ion-radio>
                            <ion-radio name="commentFilter" ng-click="toggleOrder('Rating descending')" ng-model="order" value="-author"><i class="ion-chevron-down"></i> Author</ion-radio>
                            <ion-radio name="commentFilter" ng-click="toggleOrder('Rating ascending')" ng-model="order" value="author"><i class="ion-chevron-up"></i> Author</ion-radio>
                            <ion-radio name="commentFilter" ng-click="toggleOrder('Rating descending')" ng-model="order" value="-date"><i class="ion-chevron-down"></i> Date</ion-radio>
                            <ion-radio name="commentFilter" ng-click="toggleOrder('Rating ascending')" ng-model="order" value="date"><i class="ion-chevron-up"></i> Date</ion-radio>
                        </label>
                    </div>
                    <blockquote ng-repeat="comment in designComments | orderBy:order">
                        <div style="overflow:auto">
                            <fieldset class="ratingFixed">
                                <input type="radio" id="rating{{$index}}5" name="rating{{$index}}" ng-checked="{{comment.rating === 5}}" value="5" disabled />
                                <label for="rating{{$index}}5"></label>
                                <input type="radio" id="rating{{$index}}4" name="rating{{$index}}" ng-checked="{{comment.rating === 4}}" value="4" disabled />
                                <label for="rating{{$index}}4"></label>
                                <input type="radio" id="rating{{$index}}3" name="rating{{$index}}" ng-checked="{{comment.rating === 3}}" value="3" disabled />
                                <label for="rating{{$index}}3"></label>
                                <input type="radio" id="rating{{$index}}2" name="rating{{$index}}" ng-checked="{{comment.rating === 2}}" value="2" disabled />
                                <label for="rating{{$index}}2"></label>
                                <input type="radio" id="rating{{$index}}1" name="rating{{$index}}" ng-checked="{{comment.rating === 1}}" value="1" disabled />
                                <label for="rating{{$index}}1"></label>
                            </fieldset>
                        </div>
                        <p>{{comment.comment}}</p>
                        <footer>{{comment.author}} {{comment.createdAt | date}}</footer>
                    </blockquote>
                </div>
                <h1 style="text-align:center" ng-show="commentsErrorMessage !== ''">{{commentsErrorMessage}}</h1>
            </div>
        </div>
        <h1 style="text-align:center" ng-show="errorMessage !== ''">{{errorMessage}}</h1>
    </ion-content>
</ion-view>