<ion-view view-title="Menu">
    <ion-content>
        <ion-list ng-show="!loaded">
            <ion-item>
                <div style="margin:0 auto" class="loader" ng-show="errorMessage === ''"></div>
                {{errorMessage}}
            </ion-item>
        </ion-list>
        <ion-list ng-show="loaded">
            <div class=" item item-divider">
                Filter by Category: {{selectedCategory}}
            </div>
            <label class="item" ng-show="!showFilters" ng-click="toggleFilters()">
                Show filters
            </label>
            <label class="item item-radio" ng-show="showFilters" ng-repeat="category in secondaryCategories">
                <ion-radio name="catFilter" ng-click="changeCategoryFilter(category.name, category._id)" ng-checked="$index === 0" value="{{category._id}}">{{category.name}}</ion-radio>
            </label>
            <div class=" item item-divider">
                Main Categories
            </div>
            <label class="item item-radio" ng-repeat="category in mainCategories" ng-click="showMainCategory(category._id)">
                <ion-radio name="mainCatFilter" ng-model="mainCategoryFilter" value="{{category._id}}">{{category.name}}</ion-radio>
            </label>
            <div class=" item item-divider">
                Results
            </div>
            <div ng-repeat="category in mainCategories | hasMainCategory: mainCategoryFilter" id="{{category._id}}">
                <ion-item ng-repeat="design in category.designs | hasCategory: categoryFilter" ng-click="goToDetails(design)" class="item-thumbnail-left">
                    <img src="data:{{design.images[0].mimeType}};base64,{{design.images[0].data}}" alt="{{design.name}}">
                    <h2>
                        {{design.name}}<br>
                        <span style="font-size: 75%;">{{design.price | currency}}</span>
                    </h2>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>