<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-custom">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-balanced ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
        <ion-tabs class="tabs-icon-top tabs-custom">
            <ion-tab title="Home" icon="ion-home" href="#/app/home">
                <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="About Us" icon="ion-ios-information" href="#/app/about">
                <ion-nav-view name="about-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Contact Us" icon="ion-ios-email" ui-sref="app.contact">
                <ion-nav-view name="contact-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Details" hidden="true">
                <ion-nav-view name="details-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Order" hidden="true">
                <ion-nav-view name="order-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-custom">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header" ng-controller="LoginController">
            <ion-list>
                <ion-item menu-close ui-sref="app.home">
                    Home
                </ion-item>
                <ion-item menu-close ui-sref="app.about">
                    About Us
                </ion-item>
                <ion-item menu-close ui-sref="app.contact">
                    Contact Us
                </ion-item>
                <ion-item ng-show="currentUser === ''" menu-close ng-click="openLogin()">
                    Login
                </ion-item>
                <ion-item ng-show="currentUser !== ''" menu-close ng-click="logout()">
                    {{currentUser}} Logout
                </ion-item>
                <ion-item menu-close ng-click="openRegister()">
                    Register
                </ion-item>
                <ion-item menu-close>
                    Close
                </ion-item
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>