<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="loginForm" ng-submit="login()" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email address</span>
                    <input type="email" name="email" ng-model="loginData.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="loginData.password" required>
                </label>
                <label class="item">
                    <span class="error-span" ng-show="loginData.loginErrorMessage !== ''">{{loginData.loginErrorMessage}}</span>
                    <button class="button button-block button-balanced" ng-disabled="loginForm.$invalid" type="submit">Sign in</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>