<ion-view view-title="Order">
    <ion-content>
        <form name="orderForm" ng-submit="makeOrder()" novalidate>
            <div class="list">
                <div class=" item item-divider">
                    Product
                </div>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" name="pname" ng-model="selectedDesign.name" required disabled>
                </label>
                <label class="item item-input">
                    <span class="input-label">Code</span>
                    <input type="text" name="cname" ng-model="selectedDesign._id" required disabled>
                </label>
                <div class=" item item-divider">
                    Contact information
                </div>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" placeholder="Enter your Name" ng-model="order.name" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" placeholder="Enter your Email" ng-model="order.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Cellphone</span>
                    <input type="tel" name="cellphone" placeholder="Enter your Cellphone" ng-model="order.cellphone">
                </label>
                <div class=" item item-divider">
                    Order information
                </div>
                <label class = "item item-input item-select">
                    <div class = "input-label">
                        Size
                    </div>
                    <select name="size" ng-model="order.size" ng-options="size for size in sizes"></select>
                </label>
                <label class="item" ng-show="order.size === 'Other'">
                    One of our tailors will contact you to ask for your measurements.
                </label>
                <label class = "item item-input item-select">
                    <div class = "input-label">
                        Fabric
                    </div>
                    <select name="fabric" ng-model="order.fabric" ng-required="true" ng-options="fabric.name for fabric in fabrics track by fabric._id"></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Observations</span>
                    <textarea name="observations" form="orderForm" ng-model="order.observations"></textarea>
                </label>
                <label class="item">
                    <span ng-show="showSuccessMessage" >Order successfully created.</span>
                    <span class="error-span" ng-show="orderError">An error ocurred creating your order.</span>
                    <button type="submit" class="button button-block button-balanced" ng-disabled="orderForm.$invalid || !fabricsLoaded">Send</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>