<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Register</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeRegister()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="registerForm" ng-submit="register()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" placeholder="Enter your Name"  ng-model="registerData.name" required>
                    <span class="error-span" ng-show="registerForm.name.$error.required && !registerForm.name.$pristine">
                        Your Name is required.
                    </span>
                </label>
                <div class=" item item-divider">
                    Sex
                </div>
                <label class="item item-radio">
                    <ion-radio ng-model="registerData.sex" value="Male" required><i class="ion-man"></i> Male</ion-radio>
                </label>
                <label class="item item-radio">
                    <ion-radio ng-model="registerData.sex" value="Female" required><i class="ion-woman"></i> Female</ion-radio>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" placeholder="Enter your Email"  ng-model="registerData.email">
                    <span class="error-span" ng-show="registerForm.email.$error.required && !registerForm.email.$pristine">
                        Your Email is required.
                    </span>
                    <span class="error-span" ng-show="registerData.invalidEmail">Username already in use.</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Cellphone</span>
                    <input type="text" name="cellphone" placeholder="Enter your Cellphone"  ng-model="registerData.cellphone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="name" placeholder="Enter your Password"  ng-model="registerData.password" required>
                    <span class="error-span" ng-show="registerForm.password.$error.required && !registerForm.password.$pristine">
                        Your Password is required.
                    </span>
                </label>
                <label class="item">
                    <span ng-show="registerData.registerSuccess">User successfully registered</span>
                    <button class="button button-block button-balanced" ng-disabled="registerForm.$invalid" type="submit">Register user</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>