.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto 120px;
  padding: 50px 0px;
  min-height: 400px;
}
.row-footer {
  padding: 20px 0px;
  width: 100%;
  background-color: #004d40;
  color: white;
}
.row-footer a {
    color: #fff;
}
.row-footer a:hover {
    color: #9d9d9d;
}
.jumbotron {
  margin: 0px auto;
  padding: 20px 30px;
  background: #00695c;
  color: #fff;
}
.carousel {
  background: #1a237e;
}
.carousel .item img {
  margin: 0 auto;
}
.navbar-inverse {
  background: #004d40;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #004d40;
  color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #004d40;
  color: #fff;
}
.brand {
    padding: 7px 15px 0;
}
.brand > img {
    height: 40px;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
.aboutus>h1{
    margin: 0 0 20px;
    font-size: 50px;
}
.aboutus>article{
    margin: 10px;
    font-size: 18px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
textarea{
    resize: none;
}
blockquote>footer{
    text-align: right;
}
.cPointer{
    cursor: pointer;
}
.rating, .ratingFixed {
    float:left;
}
.rating label {
    position: relative;
}
.rating:not(:checked) > input,
.ratingFixed:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    cursor:pointer;
}
.rating:not(:checked) > label,
.ratingFixed:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:200%;
    line-height:1.2;
    color:#e0f2f1;
}
.rating:not(:checked) > label:before,
.ratingFixed:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label,
.ratingFixed > input:checked ~ label {
    color: #4db6ac;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #4db6ac;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #004d40;
}